.container {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #f39c12;
    border-radius: 10px;
    color: white;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .form-group {
    margin-bottom: 10px; /* צמצום מרווח התיבות קלט */
  }
  
  label {
    font-weight: bold;
    color: white;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    color: white;
    background-color: black;
    width: calc(100% - 16px); /* צמצום רוחב התיבות קלט */
    padding: 8px;
    border: 1px solid #f39c12;
    border-radius: 5px;
  }
  
  select {
    cursor: pointer;
    
  }
  
  button[type="submit"],
  button[type="button"] {
    margin-top: 10px; /* הוספת רווח בין הכפתורים לתיבות קלט */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f39c12;
    color: white;
    cursor: pointer;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #d88c00;
  }
    
  select:hover
  {
    background-color: #000000;
  }
  .list-group {
    margin-top: 10px;
  }
  
  .list-group-item {
    border: none;
    background-color: transparent;
  }
  